:root {
  --button-background: indigo;
  --button-hover: tomato;
}

body {
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
/* Dropdown Menu CSS settings */

/* Style for the dropdown container */
.dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Style for the main menu button */
  .dropbtn {
    background-color: var(--button-background);
    color: white;
    /* box-shadow: 2px 1px orange; */
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 40px;
    left: 40px;
  }
  .dropbtn:hover {
    background-color: var(--button-hover);
  }
  .searchButton:hover {
    background-color: var(--button-hover);
  }
  
  /* Style for the dropdown content (hidden by default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #2e2e2e;
    min-width: 160px;
    left: 40;
    top: 40;
  } 
  
  /* Style for dropdown content buttons */
  .dropdown-content button {
    padding: 10px;
    text-align: left;
    width: 100%;
    border: none;
    background-color: transparent;
    cursor: pointer;
    border-top:  1px solid black;
    border-bottom:  1px solid black;
  }
  
  /* Show the dropdown content when the main menu button is hovered over */
  .dropdown:hover .dropdown-content {
    display: block;
    position: fixed;
    background-color: antiquewhite;
    top: 75px;
    left: 40px;
    border: 1px solid black;
  }
  .downbar-content .downbar-buttons:hover{
    background-color: black;
  }
  
  /* Style for Search Div*/
  .searchDiv{
    color: white;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 40px;
    right: 40px;
    /* This color are transparent! */
    background-color: #1C00ff00;
  }
  .searchButton{
    background-color: var(--button-background);
    color: white;
    border-radius: 10px;
    padding: 10px;
    border: none;
    cursor: pointer;
  }
  #searchInput{
    padding: 10px;
  }

  /* movie info page */
  #movieInfoCoverImage {
    width: 30vw;
}
.movieInformationContainer {
    display: grid;
    grid-template-areas: "a b";
}
.movieInfoAreaA {
    grid-area: "a";
    width: 20vw;
    text-align: end;
    padding: 3px;
}
.movieInfoAreaB {
    grid-area: "b";
    width: 20vw;
    text-align: start;
    color: white;
    padding: 3px;
}
.movieInfoButtons {
    height: 40px;
    width: 120px;
    margin: 5px;
    padding: 0px;
  }
  #movieInfoContainer {
    border: 1px solid orange;
}
.movieInfoButtons{
  background-color: var(--button-background);
  color: white;
  border-radius: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
}
.movieInfoButtons:hover {
  background-color: var(--button-hover);
}

/* Style for the Back button on the view movie page */
.movieInfoBackButton {
    position: fixed;
    background-color: var(--button-background);
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    left: 40px;
    top: 40px;
    border-radius: 10px;
    cursor: pointer;
}

.movieInfoBackButton:hover {
    background-color: var(--button-hover);
}
