.loginContainer {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}
#loginPageButtonsDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-self: center;
    gap: 5px;
    margin-top: 10px;
}
.loginPageButtons {
    width: 150px;
    color: white;
    background-color: var(--button-background);
    padding: 10px;
    border: none;
    border-radius: 10px;
}
.loginPageButtons:hover {
    background-color: var(--button-hover);
}
.inputGroup {
    display: flex;
    align-self: center;
    align-content: center;
}
.loginPageLabel {
    width: 100px;
}
.loginPageInput {
    width: 300px;
}
#topFourMoviesDiv {
    display: flex;
    flex-direction: row;
    gap: 5px;
    text-align: center;
    justify-content: center;
}
.movieCardsLoginPage{
    border: 1px solid white;
    width: 200px;
    height: 450px;
    text-align: center;
    cursor: pointer;
    background-color: rgb(43, 43, 43);
}
.topFourMovieTitles{
    height: 80px;
}
.coverImages{
    width: 180px;
    height: 260px;
}